@use '../helpers' as *;

.header {
  &__promo {
    padding-block: rem(20);
    text-align: center;
    border-bottom: var(--border);

    @include mobile {
      padding: rem(14);
    }
  }

  &__body {
    padding-block: rem(24);
    background-color: var(--color-dark-10);

    @include mobile {
      padding-block: rem(20);
    }

    &-inner {
      display: flex;
      justify-content: space-between; //Отображение с пробелами между элементами
      align-items: center; //выравнивание элементов по центру
      //Дочерние элементы могут слипнуться друг с другом, поэтому на будущее добавим свойство ниже
      column-gap: 1rem;
    }
  }

  &__overlay {
    @include mobile-above {
      display: contents; //на экранах НЕ мобильных устройств отключаем обертку header__overlay
    }

    @include mobile {
      position: fixed; //расположем фиксировано
      inset: 0; //растягиваем элемент на весь экран
      display: flex;
      flex-direction: column;
      justify-content: center; //центрируем элементы по вертикали
      row-gap: 3rem; //расстояние по вертикали
      padding: 1rem;
      background-color: var(--color-dark-10);
      transition-duration: var(--transition-duration);

      &:not(.is-active) {
        @include hide;

        translate: 100%;

        //т.к. header overlay будет открываться на весь экран, то когда он будет невиден, то на него
        //будет подключено значение opacity: 0; и сдвинут по горизонтали на 100% своей ширины (полностью уйдет вправо)
      }
    }
  }

  &__menu {
    @include mobile {
      overflow-y: auto;
    }
    &-list {
      display: flex;
      align-items: center;
      column-gap: rem(16);

      @include laptop {
        column-gap: rem(6);
      }

      @include mobile {
        flex-direction: column;
        row-gap: 1rem;
      }
    }

    &-link {
      padding: rem(14) rem(24);
      color: var(--color-grey-50);

      @include laptop {
        padding: rem(10) rem(18);
      }

      &.is-active {
        color: var(--color-light);
        font-weight: 500;
        background-color: var(--color-dark);
        border: var(--border);
        border-radius: rem(10);
        pointer-events: none; //наводясь на активный элемент больше не видим указателя (руки)
      }
    }

  }
  &__contact-us-link {
    @include mobile {
      width: 100%;
      max-width: rem(300);
      align-self: center;
    }
  }
}
//Мы уже в body указали размер шрифта rem(18,14), поэтому, если размеры стандартные, то ничего не меняем