@use '../helpers' as *;

.icon {
  display: inline-flex;
  align-items: center;
  column-gap: rem(10);

  &::after {
    --size: #{rem(24)};

    @include square(var(--size));

    content: ''; //без этого псевдоэлемент не отрендерится
    flex-shrink: 0; //запрещаем псевдоэлементу сжиматься
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    //Центрируем картинку, вписываем без обрезки, отключаем повтор.

    @include laptop {
      --size: #{rem(20)};
    }
  }

  &--yellow-arrow {
    &::after {
      //Без использования after получится, что весь основной элемент забьется стрелками
      background-image: url('../../icons/arrow-top-right_yellow.svg');
    }
  }
}