@use 'sass:math';
@use 'functions' as *; //в рамках этого документа можем использовать f из файла functions

@mixin fluid-text($max: 48, $min: 16) {
  font-size: fluid($max, $min)
}

@mixin hide {
  opacity: 0;
  overflow: hidden;
}

@mixin show {
  opacity: 1;
  overflow: visible;
}

//Разворачивается в ряд flex свойст для центрирования содержимого элемента
@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else  {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

//Центрирование через абсолютное позиционирование
@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

//Рисует квадрат определенного размера (ширина и высота одинаковые)
@mixin square($size) {
  width: $size;
  height: $size;
}

//Свойства css для визуального сокрытия элемента. Элемент с экрана спрятан, НО! видят экранные читалки (скринридеры) для слепых
@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}