@use 'helpers' as *; //Название index.scss не пишем, scss сам находит index в папке, поэтому указываем папку

html {
  &.is-lock {
    overflow: hidden; //Когда открывается меню оверлей, основной скролл страницы по вертикали замирает
  }
}

body {
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-grey-50);
  background-color: var(--color-dark);
}

main {
  flex-grow: 1; //Растягивается на максимально доступную высоту. Фуутер так будет всегда прижат к низу страницы
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-light);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--font-family-accent); //Мы посмотрели все виды заголовков на странице, только эти 3 типа были с таким шрифтом, остальные с inter
  font-weight: 600;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 500;
}

h1, .h1 {
  @include fluid-text(70, 30);

  line-height: 1.2;
}

h2, .h2 {
  @include fluid-text(58, 28);

  line-height: 1.3;
}

h3, .h3 {
  @include fluid-text(40, 24);
}

h4, .h4 {
  @include fluid-text(26, 18);
}

h5, .h5 {
  @include fluid-text(24, 18);
}

h6, .h6 {
  @include fluid-text(20, 16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit; //цвет такой же, как текст в документе, поэтому inherit - наследуется из текста

  @include hover {
    color: var(--color-accent);
  }
  &[class] {
    text-decoration: none; //отключиваем подчеркивание тем ссылкам, которым это необохдимо, т.е. у которых есть класс
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4); //сместим на 4 пикселя обводку от внешнего контура фокусируемого аргумента
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] { //Если a или button имею атрибут aria-label
    position: relative; //before будет позиционироваться относительно этого элемента

    &::before {
      @include abs-center; //Поиск центра
      @include square(rem(44)); //квадратный размер

      content: ''; //Без этой строки или контента псевдоэлементы не отображаются вовсе
    }
  }
}